version: '{build}'
image: Visual Studio 2017 Preview
configuration: Release
before_build:
- cmd: dotnet restore -v Minimal
build:
  verbosity: minimal
after_build:
- cmd: dotnet pack .\src\SRoll.Countries
test_script:
- cmd: dotnet test .\test\SRoll.Countries.Test
artifacts:
- path: '**\*.nupkg'
  name: NuGet Packages
deploy:
- provider: NuGet
  api_key:
    secure: cFbtBff0y1wwSUAmGpgul0ASlf/387zqWwwMOJBBP/xJpEoT2tz6B7rSppPWlO0C
  skip_symbols: false
  on:
    branch: master
    appveyor_repo_tag: true